<template>
  <div class="home">
    <h1>sample</h1>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  name: "IndexView",
})
export default class IndexView extends Vue {
  created() {
    this.$log.debug("debug.....");
  }
}
</script>
